    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 80%;
        margin: auto;
        color: #444;
        background-color:#ccc;
        margin-bottom: 60px;
    }
    
    h1{
        color: #061761;
        background-color: #acafd4;
        text-align: center; /*Alinhar o texto*/
        font-size: 36px;
    }

    h2{
        color:#061761;
        background-color:#b6b6b6 ;
        font-size: 26px;
        border-bottom: 4px solid #061761; /*Caso não utilize cor, automaticamente ele usa a cor do h2*/
        padding: 6px 0 6px 10px;
        margin: 48px 0 12px 0;
    }

    ul{
        padding-left: 0;
    }

    li{
        list-style-position: inside;
    }

    .descricao{
        text-align: center;
    }
    
    a{
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    .hero nav ul{
        margin: 20px 80px 0px 0;
        text-align: right;
    }

    .hero nav li{
        display: inline-block;
        list-style-type: none;
        border: 2px solid #061761;
        margin-left: 26px;
    }

    .hero nav a{
        background-color: rgba(0, 0, 0, 0.3);
        padding: 16px;
        display: block;
        color: #061761;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        border: 0px solid #061761;
        text-align: center;
    }   
    
    .hero nav a:hover{
            background-color: rgba(0, 0, 0, 0.5);
    }
      
    
    .lista{
        display: flex; 
        width: 150px;
        justify-content: center;
        gap: 8px;
    }
    
    .hero-lista{
        display: flex;
        justify-content: center;
    }